node_modules
dist
.git
.github
.vscode
.idea

coverage

.env
.env.local
.env.development
.env.production

npm-debug.log
yarn-error.log

README.md
ARCHITECTURE.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

Dockerfile

*.DS_Store
